<div class="matter">
    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="widget wred">
                    <div class="widget-head">
                        <div class="pull-left">UI Elements</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <div class="padd">

                            <h5>Button Group</h5>
                            <div class="btn-group">
                                <button class="btn btn-danger">Left</button>
                                <button class="btn btn-success">Center</button>
                                <button class="btn btn-primary">Right</button>
                            </div>
                            <hr>

                            <h5>Toggle Button</h5>
                            <div class="make-switch has-switch" data-on="primary" data-off="info">
                                <div class="switch-animate switch-on"><input checked="" type="checkbox"><span class="switch-left switch-primary">ON</span><label>&nbsp;</label><span class="switch-right switch-info">OFF</span></div>
                            </div>

                            <div class="make-switch has-switch" data-on="info" data-off="success">
                                <div class="switch-animate switch-on"><input checked="" type="checkbox"><span class="switch-left switch-info">ON</span><label>&nbsp;</label><span class="switch-right switch-success">OFF</span></div>
                            </div>

                            <div class="make-switch has-switch" data-on="success" data-off="warning">
                                <div class="switch-animate switch-on"><input checked="" type="checkbox"><span class="switch-left switch-success">ON</span><label>&nbsp;</label><span class="switch-right switch-warning">OFF</span></div>
                            </div>

                            <div class="make-switch has-switch" data-on="warning" data-off="danger">
                                <div class="switch-animate switch-on"><input checked="" type="checkbox"><span class="switch-left switch-warning">ON</span><label>&nbsp;</label><span class="switch-right switch-danger">OFF</span></div>
                            </div>

                            <div class="make-switch has-switch" data-on="danger" data-off="default">
                                <div class="switch-animate switch-on"><input checked="" type="checkbox"><span class="switch-left switch-danger">ON</span><label>&nbsp;</label><span class="switch-right switch-default">OFF</span></div>
                            </div>

                            <div class="make-switch has-switch" data-on="default" data-off="primary">
                                <div class="switch-animate switch-on"><input checked="" type="checkbox"><span class="switch-left switch-default">ON</span><label>&nbsp;</label><span class="switch-right switch-primary">OFF</span></div>
                            </div>
                            <hr>

                            <h5>Button Dropdown</h5>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <hr>

                            <h5>Tabbable</h5>
                            <div class="tabbable" style="margin-bottom: 18px;">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                                    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                                    <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
                                </ul>
                                <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                                    <div class="tab-pane active" id="tab1">
                                        <p>I'm in Section 1.</p>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <p>Howdy, I'm in Section 2.</p>
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <p>What up girl, this is Section 3.</p>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <h5>Pagination</h5>

                            <ul class="pagination">
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>

                            <hr>

                            <h5>Labels</h5>
                            <span class="label label-danger">Default</span>
                            <span class="label label-success">Success</span>
                            <span class="label label-warning">Warning</span>
                            <span class="label label-default">Important</span>
                            <span class="label label-info">Info</span>
                            <span class="label label-primary">Success</span>
                            <hr>

                            <h5>Badges</h5>
                            <span class="label label-danger">1</span>
                            <span class="label label-success">2</span>
                            <span class="label label-warning">3</span>
                            <span class="label label-info">4</span>
                            <span class="label label-default">5</span>
                            <span class="label label-primary">6</span>
                            <hr>

                            <h5>Alerts</h5>
                            <div class="alert alert-warning">
                                Oh snap! Change a few things up and try submitting again.
                            </div>
                            <div class="alert alert-success">
                                Well done! You successfully read this important alert message.
                            </div>
                            <div class="alert alert-info">
                                Heads up! This alert needs your attention, but it's not super important.
                            </div>
                            <hr>


                            <h5>Modal</h5>
                            <!-- Button to trigger modal -->
                            <a href="#myModal" class="btn btn-info" data-toggle="modal">Launch demo modal</a>

                            <!-- Modal -->

                            <hr>


                        </div>
                    </div>
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="widget wviolet">
                    <div class="widget-head">
                        <div class="pull-left">UI Elements</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="icon-remove"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content">
                        <div class="padd">

                            <h5>Horizontal Slider</h5>

                            <div id="master4" class="slider-yellow ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 80%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 80%;"></a></div>
                            <div id="master1" class="slider-red ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 60%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 60%;"></a></div>
                            <div id="master3" class="slider-green ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 80%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 80%;"></a></div>
                            <div id="master5" class="slider-orange ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 18.75%; width: 31.25%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 18.75%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 50%;"></a></div>
                            <div id="master2" class="slider-blue ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 60%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 60%;"></a></div>
                            <div id="master6" class="slider-violet ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header" style="left: 18.75%; width: 31.25%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 18.75%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 50%;"></a></div>

                            <hr>

                            <h5>Progressbar</h5>

                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                            <hr>

                            <h5>Progressbar Animated</h5>

                            <div class="progress progress-animated progress-striped active">
                                <div class="progress-bar progress-bar-warning" data-percentage="100" style="width: 33%;">33%</div>
                            </div>
                            <div class="progress progress-animated progress-striped active">
                                <div class="progress-bar progress-bar-info" data-percentage="100" style="width: 33%;">33%</div>
                            </div>
                            <div class="progress progress-animated progress-striped active">
                                <div class="progress-bar progress-bar-danger" data-percentage="100" style="width: 33%;">33%</div>
                            </div>
                            <div class="progress progress-animated progress-striped active">
                                <div class="progress-bar progress-bar-success" data-percentage="100" style="width: 33%;">33%</div>
                            </div>

                            <hr>

                            <h5>Vertical Slider</h5>

                            <div id="eq">
                                <span class="slider-red ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 88%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 88%;"></a></span>
                                <span class="slider-blue ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 77%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 77%;"></a></span>
                                <span class="slider-green ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 55%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 55%;"></a></span>
                                <span class="slider-yellow ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 33%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 33%;"></a></span>
                                <span class="slider-orange ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 40%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 40%;"></a></span>
                                <span class="slider-violet ui-slider ui-slider-vertical ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="height: 45%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="bottom: 45%;"></a></span>
                                <div class="clearfix"></div>
                            </div>



                            <hr>

                            <h5>Star Rating</h5>

                            <div class="rateit" data-rateit-resetable="false"><div class="rateit-reset" style="display: none;"></div><div class="rateit-range" style="width: 80px; height: 16px;"><div class="rateit-selected" style="height: 16px; width: 0px;"></div><div class="rateit-hover" style="height:16px"></div></div></div>
                            <hr>

                            <h5>Notification</h5>


                            <a href="#" class="btn notify btn-default btn-sm">Notification</a>
                            <a href="#" class="btn notify-sticky btn-default btn-sm">Sticky Notification</a>
                            <a href="#" class="btn notify-without-image btn-default btn-sm">Notification - Without Image</a>
                            <a href="#" class="btn notify-remove btn-default btn-sm">Remove</a>

                            <hr>

                            <h5>Tabs</h5>
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                                <li><a href="#profile" data-toggle="tab">Profile</a></li>
                                <li><a href="#cont" data-toggle="tab">Content</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                </div>
                                <div class="tab-pane fade" id="cont">
                                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                                </div>
                            </div>
                            <hr>

                            <h5>Datepicker</h5>



                            <div id="datetimepicker1" class="input-append">
                                <input data-format="yyyy-MM-dd" class="form-control dtpicker" type="text">
                                <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="btn btn-info btn-lg icon-calendar"></i>
                        </span>
                            </div>


                            <hr>

                            <h5>Timepicker</h5>
                            <div id="datetimepicker2" class="input-append">
                                <input data-format="hh:mm:ss" class="form-control dtpicker" type="text">
                                <span class="add-on">
                          <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="btn btn-info btn-lg icon-time"></i>
                        </span>
                            </div>


                        </div>
                    </div>
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>